@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --bg: #fef9f6;
  --text: black;
  --primary: #dabc77;
  --accent: darkgoldenrod;
}
body {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  background: var(--bg);
  color: var(--text);
}
main{max-width:1000px;margin:0 auto}
h1,h2{font-family:"Montserrat", sans-serif;font-weight:normal}
.announcement{background:pink;border-bottom:2px solid deeppink;padding:.5rem;text-align: center}
header,footer {padding: 1rem 2rem;}
footer{background: black;color:white;text-align:center;
  a{padding-right: 1rem;}
}
address{text-transform:uppercase;font-style: normal;}
.location a{color:black}
nav a{text-decoration:none;border-bottom:1px solid black;text-transform:uppercase;color:black;margin:1rem}
nav,.logo {text-align: center;}
.hero {padding: 1rem 2rem 5rem 2rem;text-align: center;}
.hero h1 {font-size: 2.5rem}
.subtitle {margin: 1rem 0 2rem;}
.btn-primary {
  background: var(--primary);
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  padding: .7rem 1.4rem;
  text-decoration: none;
  border-radius: .5rem;
}

.trust,.location {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.trust,.location,.compare {
  padding: 2rem;
}
.trust .star-item{padding-left:1.7rem;position:relative}
.trust .star{font-size:24px;
  position:absolute;left:0;top:-.5rem}
.icon{width:24px;height:24px;fill:currentColor}

.services, .gallery, .location{
  padding: 4rem 2rem;
}
.intro{
  padding: 4rem;text-align: center; font-size: 1.4rem;
  max-width:900px;
}
.services {
  text-align: center;
}
.services img{width: 50px;height: 50px;}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.service-card {
  background: white;
  padding: 2rem;
  border-radius: 16px;
}

.gallery-grid {
  display: flex;
  align-items: left;
  gap:1rem;
  img {
    max-width: 300px;

    display: block;
    background: #ddd;
    border-radius: 12px;
  }
}


.booking {
  text-align: center;
  padding: 4rem 2rem;
}


.comparison {
	position: relative;
	overflow: hidden;
  border-radius: 1rem;
	.lhs, .lhs-wrapper{position:absolute;top:0;left:0}
	.lhs{display:block;max-width:none}
	.lhs-wrapper{height:100%;width:50%;overflow:hidden}
	.dragger{position:absolute;top:0;left:50%;width:0;height:100%;cursor:ew-resize;
		&::before {
			content: '';
			display: block;
			width: .4em;
			height: 100%;
			margin-left: -.2em;
			background: rgba(255,255,255, .3);
		}
		&::after {
			--button-size: 5rem;
      font-family:monospace;
      font-size: 2rem;
			content: '‹ ›';
			display: inline-block;
			position: absolute;
			top: 50%; left: 50%;
			width: var(--button-size);
			height: var(--button-size);
			margin: calc(var(--button-size)/-2);
			border-radius: 100%;
			background: white;
			text-align: center;
			line-height: var(--button-size);
			white-space: nowrap;
		}
	}
  img{display: block;width: 100%;}
  .caption {
    display:block;
    position:absolute;top:1rem;right:1.5rem;
    padding:.5em 1rem;
    font-weight:bold;
    border-radius:.5rem;font-size:1.4rem;
    background:var(--primary);
  }
  .lhs .caption{right:auto;left:1.5rem}
}



